<h1>My User Account</h1>

<dl>
  <dt>First Name:</dt>
  <dd><%= @user["first_name"] %></dd>
  <dt>Last Name:</dt>
  <dd><%= @user["last_name"] %></dd>
  <dt>Email:</dt>
  <dd><%= @user["email"] %></dd>
</dl>
<form action="/users/<%= @user["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button  onclick="return confirm('Are you sure you want to delete your user account? This action cannot be undone.');">Delete User</button>
</form>